# Xcode
*.xcuserstate
xcuserdata/

# Swift Package Manager
.build/
Packages/

# CocoaPods
Pods/

# Carthage
Carthage/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

.clang_module_cache/
.swift_module_cache/
